.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#aboutMe{
  text-align: left;
  grid-column: 1/6;
  grid-row: 2/3;
}
#container{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(10,1fr);
 
}
#image{
  grid-column: 7/7;
  grid-row: 2/3;
  padding-top: 5em;
  
}

#header{
  grid-column: 1/7;
  grid-row: 1;
 
}
#headerQuote{
  text-align: right;
  grid-column: 3/7;
  grid-row: 1;
 padding-top: 5em;
}
#footerQuote{
  grid-column: 1/7;
  grid-row: 3;
  text-align: center;
}
body{
  background-color: #282c34;
  color: antiquewhite;
 
}
/* PROFESSIONAL BACKGROUND PAGE */
#resume{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(15, 1fr);
align-items: start;
}
#bullets{
  grid-column: 1/5;
  grid-row: 2;
  text-align: left;
  margin-bottom: -20em;
  padding: 0;
}
#resumeHeader{
  grid-column: 1/6;
  grid-row: 1;
  margin-bottom: -20;
}
/* #sidebar{
  grid-column: 3;
  grid-row: 2;
  background-color:#155e72 ;
  border-radius: 2em;
} */
.navbar{
  background-color: antiquewhite;
  padding: 5px;
}
#teacher{
  grid-column: 1/5;
  grid-row: 6;
}
#compliance{
  grid-column: 1/5;
  grid-row: 7;  
}
#merchandiser{
  grid-column: 1/5;
  grid-row: 8; 
  
}
#xerox{
  grid-column: 1/5;
  grid-row: 9; 
}
#fedReserve{
  grid-column: 1/5;
  grid-row: 9; 
}
#fedex{
  grid-column: 1/5;
  grid-row: 10; 
}
